/* Make sure elements fill up the entire available space */
html, body {
  width: 100%;
  height: 100%;
}


body {
  /* Reset styles */
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}


/* Home wrapper styling. Uses flexbox. */

.content {
  display: flex;
  flex-direction: column;
  margin: 0 0.5em;
}

.content > * {
  margin: 0.5em 0;
}


.page-header {
  width: 100%;
  padding-bottom: 0.6em; /* Padding to space bottom border */
  border-bottom: 2px solid #bcbbbb;/* Border acting like <hr> */
}

/* Styling for the main icon */

.header-logo {
  width: 4em; /*larger size*/
  float: left;
}


.page-title, .page-subtitle {
  font-weight: 400;
  color: #333; /*A dark gray */
  text-align: right;
}

.page-subtitle {
  text-transform: capitalize;
}


.page-title {
  font-size: 2.5em;
}

.main-figure {
  width: 100%;
}

.main-figure-hero {
  width: 100%;
  min-height: 200px;
  background: url(/placeholder.png) center center;
}


/*The 3 squares of different colors*/
.color-square-container {
  line-height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.color-squares, .color-square-captions {display: flex; }

.color-square {width: 30px; height: 30px; display: inline-block; margin: 0 3px;}

.color-square:nth-child(1) {
  margin-left: 0; /*No margin on the leftmost side*/
  background-color: #f7981d;
}

.color-square:nth-child(2) {
  background-color: #bbbbbb;
}

.color-square:nth-child(3) {
  background-color: #666756;
}


.color-square-caption {
  margin: 0 5px;
}
/*No margin for headings*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

figure {
  margin: 0;
}